.header {
  position: fixed;
  left: 240px;
  right: 330px;
  height: 70px;
  background-color: var(--layout-header-bg);
  backdrop-filter: blur(50px);
  box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
}
